.c_body {
  width: 100%;
  height: 100vh;
  /* position: relative; */
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
  overflow: hidden;
}

video{
  width: 100%;
  z-index: -3;
  height: auto;
 }

 .data{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
 }

 
.p_buttn{
  position: absolute;
  margin-top: 25rem;
  width: 8rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  /* background: rgba(245, 245, 245, 0.75); */
  background: transparent;
  border-radius: 3px;
  font-size: 0.9rem;
  /* border: none; */
  border: 2px solid rgba(245, 245, 245, 0.75);
  /* color: black; */
  color: rgba(245, 245, 245, 0.75);
  font-weight: 750;
  z-index: 1;
}

.p_buttn:hover{
  border: none;
  background: rgba(245, 245, 245, 0.75);
  color: black;
}

.p_buttn::after{
  content: "";
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid transparent;
  z-index: -2;
  transition: all 0.2s ease;
}

.p_buttn::before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid rgba(245, 245, 245, 0.6);
  z-index: -2;
  transition: all 0.2s ease;
}

.p_buttn:hover::before {
  visibility: visible;
  top : -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: 5px;
}
.p_buttn:hover::after {
  visibility: visible;
  top : -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 5px;
}

.data h2{
  font-size: 4rem;
  font-weight: 100;
  font-family: 'Dancing Script', cursive;
  color: white;
}

.data h2:nth-child(1){
  margin-top: 8rem;
}
