.nav-bg{
    background-color: rgb(177, 177, 223) !important ;
}
.number{
    padding: 0.1rem 0.3rem 0.1rem 0.3rem ;
    color: white;
    font-size: 1rem;
    background-color: blueviolet;
    font-weight: 900;
    border-radius: 0.2rem;
}

.image{
    height: auto;
    width: 3rem;
}
.quantity{
    display: flex;
}
.quantity_1{
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}
.price{
    cursor: pointer;
    color: grey!important;
    margin-right: 0.5rem !important;
    margin-top: 0.8rem !important;
}
.image_cart{
    height: 8rem;
    width: 10rem;
}
.heading{
 font-size: 1rem;
}

.instock{
 color: green;
 font-size: 0.8rem;
}

.outofstock{
    color: rgb(209, 49, 5);
    font-size: 0.8rem;
   }

   .eligible{
       color: grey;
       font-size:0.9rem
   }
   .normal{
    font-size:0.9rem;
    color: red;
   }
   .plus{
    font-size:0.95rem;
    color: green;
   }

   .visibility{
       visibility: hidden;
   }
   .subtotal{
       color:grey;
       font-size: 0.9rem;
   }
   .none{
       display: none;
   }

   .remove{
       background-color: red !important;
      
   }
   .buy{
       background-color: rgb(14, 218, 75) !important;
   }

   .card_main{
    margin: 1rem 0 1rem 0;
    box-shadow: 3px 7px 25px 0px rgba(168,165,168,0.73);
   }
   .shopping{
    position: absolute;
    top: 8%;
   }